/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, sass/partials/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 21, sass/partials/_base.scss */
html {
  line-height: 1;
  font-size: 18px;
  line-height: 1.5em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #dbdbdb;
}

/* line 32, sass/partials/_base.scss */
ol, ul {
  list-style: none;
}

/* line 33, sass/partials/_base.scss */
q, blockquote {
  quotes: none;
}

/* line 36, sass/partials/_base.scss */
p, div {
  position: relative;
}

/* line 39, sass/partials/_base.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 43, sass/partials/_base.scss */
a img {
  border: none;
}

/* line 46, sass/partials/_base.scss */
img {
  vertical-align: bottom !important;
}

/* line 50, sass/partials/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 54, sass/partials/_base.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 59, sass/partials/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 63, sass/partials/_base.scss */
.clearfix {
  zoom: 1;
}

/* line 67, sass/partials/_base.scss */
body {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #1e1e1e;
  font-family: 'PT Serif', Georgia, serif;
  line-height: 1.5em;
  font-weight: normal;
  text-decoration: none;
  background-color: #dbdbdb;
}

/* line 78, sass/partials/_base.scss */
button, input, select, textarea {
  font-family: sans-serif;
  color: #1e1e1e;
}

/* line 82, sass/partials/_base.scss */
::-moz-selection {
  background: #1e1e1e;
  color: #F2F2F2;
  text-shadow: none;
}

/* line 87, sass/partials/_base.scss */
::selection {
  background: #1e1e1e;
  color: #F2F2F2;
  text-shadow: none;
}

/*ICON OVERRIDES*/
/* line 94, sass/partials/_base.scss */
.fa {
  line-height: 22px !important;
  vertical-align: middle;
}

/* line 4, sass/partials/_animation.scss */
.tm-transition-enabled {
  opacity: 0;
}

/* line 7, sass/partials/_animation.scss */
.tm-transition-in {
  animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-fill-mode: forwards !important;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-direction: normal;
  -moz-animation-direction: normal;
  backface-visibility: hidden;
}

/* line 24, sass/partials/_animation.scss */
.fade-in--delay-03 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -moz-animation-fill-mode: forwards;
}

/* line 30, sass/partials/_animation.scss */
.fade-in--delay-05 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -moz-animation-fill-mode: forwards;
}

/* line 36, sass/partials/_animation.scss */
.fade-in--delay-07 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -moz-animation-fill-mode: forwards;
}

/* line 42, sass/partials/_animation.scss */
.fade-in--delay-09 {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -moz-animation-fill-mode: forwards;
}

/* line 48, sass/partials/_animation.scss */
.fade-in--delay-1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -moz-animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 2, sass/partials/_layout.scss */
.body-copy {
  width: 86%;
  margin: 7% 0 0 7%;
  position: relative;
}

/* line 7, sass/partials/_layout.scss */
.tm-site-header {
  padding: 3em 7%;
}

/* line 10, sass/partials/_layout.scss */
.tm-header--snug {
  width: 86%;
  padding: 3rem 7% 0;
}

/* line 14, sass/partials/_layout.scss */
.tm-about-intro {
  width: 86%;
  padding: 7%;
}

/* line 18, sass/partials/_layout.scss */
.work-timeline {
  width: 86%;
  padding: 7%;
  margin: 0;
  position: relative;
  background-color: #edeff1;
}

/* line 25, sass/partials/_layout.scss */
.select-work {
  width: 86%;
  padding: 7%;
  margin-top: 5%;
}

/* line 30, sass/partials/_layout.scss */
.elevator-pitch {
  margin-top: 3%;
  max-width: 1280px;
}

/* line 34, sass/partials/_layout.scss */
.past-roles {
  margin-top: 5%;
}

/* line 39, sass/partials/_layout.scss */
.post {
  width: 90%;
  margin: 60px auto 0;
  position: relative;
  max-width: 680px;
}

/* line 45, sass/partials/_layout.scss */
.post.last {
  margin-bottom: 60px;
}

/* line 48, sass/partials/_layout.scss */
.intro {
  opacity: 0.7;
}

/* line 51, sass/partials/_layout.scss */
.post-date {
  font-family: 'Vollkorn', Georgia, serif;
  font-size: .75em;
  letter-spacing: .5px;
  color: #575bb9;
  display: block;
}

/* line 58, sass/partials/_layout.scss */
.edit-date {
  color: #2f2d4b;
  opacity: 0.6;
  padding-left: 8px;
}

/* line 63, sass/partials/_layout.scss */
.post p {
  margin-bottom: 20px;
}

/* line 66, sass/partials/_layout.scss */
.post-title {
  color: #2f2d4b;
  font-weight: bold;
  padding-top: 60px;
  border-top: 1px solid #e0e3e5;
  margin: 0  0 20px;
}

/* line 74, sass/partials/_layout.scss */
.first-post .post-title {
  padding-top: 0;
  border-top: none;
}

/* line 81, sass/partials/_layout.scss */
.project-card, .tm-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 84, sass/partials/_layout.scss */
.project-card_info {
  padding: 10%;
}

/* line 88, sass/partials/_layout.scss */
.tm-card_container {
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #f9f9f9;
}

/* line 96, sass/partials/_layout.scss */
.project-overview {
  width: 86%;
  padding: 7%;
}

/* line 100, sass/partials/_layout.scss */
.project-intro {
  width: 86%;
  padding-left: 7%;
  padding-right: 7%;
}

/* line 105, sass/partials/_layout.scss */
.project-hero {
  width: 86%;
  padding: 5% 7%;
}

/* line 109, sass/partials/_layout.scss */
.project-info {
  max-width: 40em;
  margin: 0 auto;
}

/* line 113, sass/partials/_layout.scss */
.tm-project-footer {
  width: 100%;
  padding: 3rem 0;
}

/* line 117, sass/partials/_layout.scss */
.project-copy {
  max-width: 900px;
}

/* line 120, sass/partials/_layout.scss */
.project-section {
  margin: 7% 0;
}

/* line 2, sass/partials/_overlay-menu.scss */
.tm-menu_container {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 20px;
  width: 32px;
  padding: 20px;
  cursor: pointer;
  z-index: 100;
  transition: all .3s ease;
}
/* line 13, sass/partials/_overlay-menu.scss */
.no-touch .tm-menu_container:hover .tm-menu_icon-bar, .tm-menu_container:focus .tm-menu_icon-bar {
  background: #7B7F84;
}

/* line 20, sass/partials/_overlay-menu.scss */
.tm-menu_container-active .tm-menu_icon-top {
  transform: translateY(8px) translateX(0) rotate(45deg);
  background: #dbdbdb !important;
}
/* line 24, sass/partials/_overlay-menu.scss */
.tm-menu_container-active .tm-menu_icon-mid {
  opacity: 0;
  background: #dbdbdb !important;
}
/* line 28, sass/partials/_overlay-menu.scss */
.tm-menu_container-active .tm-menu_icon-bot {
  transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #dbdbdb !important;
}

/* line 33, sass/partials/_overlay-menu.scss */
.tm-menu_icon-bar {
  background: #dbdbdb;
  border: none;
  height: 3px;
  width: 32px;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all .3s ease;
  cursor: pointer;
}

/* line 44, sass/partials/_overlay-menu.scss */
.tm-menu_icon-bar:nth-of-type(2) {
  top: 28px;
}

/* line 47, sass/partials/_overlay-menu.scss */
.tm-menu_icon-bar:nth-of-type(3) {
  top: 36px;
}

/* line 51, sass/partials/_overlay-menu.scss */
.tm-overlay {
  position: fixed;
  background: #1e1e1e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

/* line 63, sass/partials/_overlay-menu.scss */
.tm-overlay.open {
  opacity: .95;
  visibility: visible;
  height: 100%;
}

/* line 68, sass/partials/_overlay-menu.scss */
.tm-overlay_menu {
  position: relative;
  height: 40%;
  top: 100px;
  right: 50px;
  text-align: right;
}

/* line 75, sass/partials/_overlay-menu.scss */
.tm-overlay_menu-list {
  list-style: none;
  padding: 0;
  margin-right: 40px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

/* line 84, sass/partials/_overlay-menu.scss */
.tm-overlay_menu-list-item {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

@media (min-width: 1em) and (max-width: 34em) {
  /* line 97, sass/partials/_overlay-menu.scss */
  .tm-overlay_menu {
    height: 60%;
  }

  /* line 100, sass/partials/_overlay-menu.scss */
  .tm-menu_container {
    top: 9px;
  }
}
@media (min-width: 34em) and (max-width: 48em) {
  /* line 107, sass/partials/_overlay-menu.scss */
  .tm-overlay_menu {
    height: 50%;
  }
}
@media (min-width: 48em) {
  /* line 113, sass/partials/_overlay-menu.scss */
  .tm-overlay_menu {
    height: 45%;
    min-height: 240px;
    max-height: 300px;
  }
}
/* line 2, sass/partials/_skin-modifiers.scss */
.tm--text-white {
  color: #f9f9f9;
}

/* line 5, sass/partials/_skin-modifiers.scss */
.tm--text-off-white {
  color: #F2F2F2;
}

/* line 8, sass/partials/_skin-modifiers.scss */
.tm--text-light-grey {
  color: #dbdbdb;
}

/* line 11, sass/partials/_skin-modifiers.scss */
.tm--text-grey {
  color: #7B7F84;
}

/* line 14, sass/partials/_skin-modifiers.scss */
.tm--text-silver {
  color: #A0A0A0;
}

/* line 17, sass/partials/_skin-modifiers.scss */
.tm--text-med-grey {
  color: #848484;
}

/* line 20, sass/partials/_skin-modifiers.scss */
.tm--text-dark-grey {
  color: #353D44;
}

/* line 23, sass/partials/_skin-modifiers.scss */
.tm--text-eerie-black {
  color: #1e1e1e;
}

/* line 26, sass/partials/_skin-modifiers.scss */
.tm--text-true-black {
  color: #000000;
}

/* line 29, sass/partials/_skin-modifiers.scss */
.tm--text-gold {
  color: #846509;
}

/* line 34, sass/partials/_skin-modifiers.scss */
.tm--bg-white {
  background-color: #f9f9f9;
}

/* line 37, sass/partials/_skin-modifiers.scss */
.tm--bg-green {
  background-color: #56b7a5;
}

/* line 40, sass/partials/_skin-modifiers.scss */
.tm--bg-orange {
  background-color: #E07B69;
}

/* line 43, sass/partials/_skin-modifiers.scss */
.tm--bg-deep-space {
  background-color: #4C5C68;
}

/* line 46, sass/partials/_skin-modifiers.scss */
.tm--bg-onyx {
  background-color: #353D44;
}

/* line 49, sass/partials/_skin-modifiers.scss */
.tm--bg-med-grey {
  background-color: #848484;
}

/* line 52, sass/partials/_skin-modifiers.scss */
.tm--bg-light-grey {
  background-color: #dbdbdb;
}

/* line 55, sass/partials/_skin-modifiers.scss */
.tm--bg-off-white {
  background-color: #F2F2F2;
}

/* line 58, sass/partials/_skin-modifiers.scss */
.tm--bg-dark-grey {
  background-color: #323334;
}

/* line 61, sass/partials/_skin-modifiers.scss */
.tm--bg-eerie-black {
  background-color: #1e1e1e;
}

/* line 64, sass/partials/_skin-modifiers.scss */
.tm--bg-spooky-black {
  background-color: #161616;
}

/* line 67, sass/partials/_skin-modifiers.scss */
.tm--bg-black {
  background-color: #000000;
}

/* line 70, sass/partials/_skin-modifiers.scss */
.tm--bg-sw-blue {
  background-color: #47c8ff;
}

/* line 75, sass/partials/_skin-modifiers.scss */
.tm--border-radius-2 {
  border-radius: 2px;
}

/* line 78, sass/partials/_skin-modifiers.scss */
.tm--border-radius-3 {
  border-radius: 3px;
}

/* line 81, sass/partials/_skin-modifiers.scss */
.tm--border-grey-1 {
  border: 1px solid #e0e3e5;
}

/* line 84, sass/partials/_skin-modifiers.scss */
.tm--border-top-gold-2 {
  border-top: 2px solid #846509;
}

/* line 87, sass/partials/_skin-modifiers.scss */
.tm--border-top-grey-1 {
  border-top: 1px solid #e0e3e5;
}

/* line 90, sass/partials/_skin-modifiers.scss */
.tm--border-top-grey-2 {
  border-top: 2px solid #e0e3e5;
}

/* line 93, sass/partials/_skin-modifiers.scss */
.tm--border-top-dark-grey-2 {
  border-top: 2px solid #323334;
}

/* line 96, sass/partials/_skin-modifiers.scss */
.tm--border-top-black-2 {
  border-top: 2px solid #1e1e1e;
}

/* line 101, sass/partials/_skin-modifiers.scss */
.tm-bg_img-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

/* line 112, sass/partials/_skin-modifiers.scss */
.tm-bg_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*DETAILS FOR JUMBO TEXT*/
@media (min-width: 1px) and (max-width: 700px) {
  /* line 132, sass/partials/_skin-modifiers.scss */
  .tm-bg_img {
    display: none !important;
    opacity: 0 !important;
  }
}
/* line 139, sass/partials/_skin-modifiers.scss */
.tm--opacity-0 {
  opacity: 0;
}

/* line 142, sass/partials/_skin-modifiers.scss */
.tm--opacity-01 {
  opacity: 0.1;
}

/* line 145, sass/partials/_skin-modifiers.scss */
.tm--opacity-02 {
  opacity: 0.2;
}

/* line 148, sass/partials/_skin-modifiers.scss */
.tm--opacity-04 {
  opacity: 0.4;
}

/* line 151, sass/partials/_skin-modifiers.scss */
.tm--opacity-06 {
  opacity: 0.6;
}

/* line 154, sass/partials/_skin-modifiers.scss */
.tm--opacity-1 {
  opacity: 1;
}

/* line 157, sass/partials/_skin-modifiers.scss */
.tm--opacity-hover-08 {
  transition: all 0.3s ease;
}
/* line 159, sass/partials/_skin-modifiers.scss */
.no-touch .tm--opacity-hover-08:hover, .tm--opacity-hover-08:focus {
  opacity: 0.8;
}

/* line 163, sass/partials/_skin-modifiers.scss */
.tm--opacity-hover-06 {
  transition: all 0.3s ease;
}
/* line 165, sass/partials/_skin-modifiers.scss */
.no-touch .tm--opacity-hover-06:hover, .tm--opacity-hover-06:focus {
  opacity: 0.6;
}

/* line 169, sass/partials/_skin-modifiers.scss */
.tm--opacity-hover-04 {
  transition: all 0.3s ease;
}
/* line 171, sass/partials/_skin-modifiers.scss */
.no-touch .tm--opacity-hover-04:hover, .tm--opacity-hover-04:focus {
  opacity: 0.4;
}

/* line 175, sass/partials/_skin-modifiers.scss */
.tm--opacity-hover-02 {
  transition: all 0.3s ease;
}
/* line 177, sass/partials/_skin-modifiers.scss */
.no-touch .tm--opacity-hover-02:hover, .tm--opacity-hover-02:focus {
  opacity: 0.2;
}

/* line 181, sass/partials/_skin-modifiers.scss */
.tm--opacity-hover-0 {
  transition: all 0.3s ease;
}
/* line 183, sass/partials/_skin-modifiers.scss */
.no-touch .tm--opacity-hover-0:hover, .tm--opacity-hover-0:focus {
  opacity: 0;
}

/* line 189, sass/partials/_skin-modifiers.scss */
.tm--overflow-hidden {
  overflow: hidden;
}

@media (min-width: 1px) and (max-width: 34em) {
  /* line 195, sass/partials/_skin-modifiers.scss */
  .tm--show-mob {
    visibility: visible;
  }
}
@media (min-width: 34em) {
  /* line 202, sass/partials/_skin-modifiers.scss */
  .tm--hide-tab {
    visibility: hidden;
  }
}
@media (min-width: 48em) {
  /* line 208, sass/partials/_skin-modifiers.scss */
  .tm--hide-desk {
    visibility: hidden;
  }
}
/* line 2, sass/partials/_typography.scss */
h1 {
  font-size: 1.6em;
}

/* line 5, sass/partials/_typography.scss */
h2 {
  font-size: 1.2em;
}

/* line 8, sass/partials/_typography.scss */
p {
  margin: 0;
  line-height: 1.6em;
}

/* line 12, sass/partials/_typography.scss */
em {
  font-style: italic;
}

/* line 15, sass/partials/_typography.scss */
.tm--font-serif {
  font-family: 'PT Serif', serif;
}

/* line 18, sass/partials/_typography.scss */
.tm--font-sans {
  font-family: 'Open Sans', sans-serif;
}

/* line 21, sass/partials/_typography.scss */
.tm--font-weight-normal {
  font-weight: normal;
}

/* line 24, sass/partials/_typography.scss */
.tm--font-weight-bold {
  font-weight: 700;
}

/* line 27, sass/partials/_typography.scss */
.tm--font-weight-heavy {
  font-weight: 800;
}

/* line 32, sass/partials/_typography.scss */
.tm--font-size-14 {
  font-size: 14px;
  line-height: 1.5em;
}

/* line 36, sass/partials/_typography.scss */
.tm--font-size-16 {
  font-size: 16px;
  line-height: 26px;
}

/* line 40, sass/partials/_typography.scss */
.tm--font-size-18 {
  font-size: 18px;
  line-height: 1.5em;
}

/* line 44, sass/partials/_typography.scss */
.tm--font-size-22 {
  font-size: 22px;
  line-height: 1.5em;
}

/* line 48, sass/partials/_typography.scss */
.tm--font-size-24 {
  font-size: 24px;
  line-height: 1.7em;
}

/* line 52, sass/partials/_typography.scss */
.tm--font-size-26 {
  font-size: 26px;
  line-height: 1.5em;
}

/* line 56, sass/partials/_typography.scss */
.tm--font-size-30 {
  font-size: 30px;
}

/* line 59, sass/partials/_typography.scss */
.tm--font-size-36 {
  font-size: 36px;
  line-height: 1.4em;
}

/* line 63, sass/partials/_typography.scss */
.tm--font-size-40 {
  font-size: 40px;
  line-height: 1.4em;
}

/* line 67, sass/partials/_typography.scss */
.tm--font-size-44 {
  font-size: 44px;
  line-height: 1.4em;
}

/* line 71, sass/partials/_typography.scss */
.tm--font-size-48 {
  font-size: 48px;
  line-height: 1em;
}

/* line 75, sass/partials/_typography.scss */
.tm--font-size-72 {
  font-size: 72px;
  line-height: 1em;
}

/* line 79, sass/partials/_typography.scss */
.tm--font-size-108 {
  font-size: 108px;
  line-height: 1em;
}

/* line 83, sass/partials/_typography.scss */
.tm--font-size-128 {
  font-size: 128px;
  line-height: 1em;
}

/* line 87, sass/partials/_typography.scss */
.tm--font-size-168 {
  font-size: 168px;
  line-height: 1em;
}

/* line 91, sass/partials/_typography.scss */
.tm--font-size-188 {
  font-size: 188px;
  line-height: .9em;
}

/* line 95, sass/partials/_typography.scss */
.tm--line-height-1 {
  line-height: 1em;
}

/* line 100, sass/partials/_typography.scss */
.tm--letter-spacing-05 {
  letter-spacing: 0.5px;
}

/* line 103, sass/partials/_typography.scss */
.tm--letter-spacing-1 {
  letter-spacing: 1px;
}

/* line 106, sass/partials/_typography.scss */
.tm--letter-spacing-3 {
  letter-spacing: 3px;
}

/* line 109, sass/partials/_typography.scss */
.tm--letter-spacing-10 {
  letter-spacing: 10px;
}

/* line 112, sass/partials/_typography.scss */
.tm--main-headline {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  /* Firefox 4 */
  -webkit-transition: all 0.2s ease;
  /* Safari and Chrome */
  -o-transition: all 0.2s ease;
  /* Opera */
  -ms-transition: all 0.2s ease;
  /* Explorer 10 */
}

/* line 119, sass/partials/_typography.scss */
.tm-nav-list_link:after {
  content: "/";
  padding: 0 .5em 0 .5em;
  color: rgba(0, 0, 0, 0.3);
}

/* line 124, sass/partials/_typography.scss */
.tm-nav-list_link.last:after {
  color: transparent;
}

/* line 129, sass/partials/_typography.scss */
.tm--text-center {
  text-align: center;
}

/* line 132, sass/partials/_typography.scss */
.tm--text-right {
  text-align: right;
}

/* line 135, sass/partials/_typography.scss */
.tm--blackletter-align {
  margin-left: -3px;
}

/* line 139, sass/partials/_typography.scss */
.tm--logotype:after {
  content: "~";
  padding: 0 5px 0 0;
  color: rgba(0, 0, 0, 0.2);
}

/* line 2, sass/partials/_helpers.scss */
.tm--center-element {
  margin-left: auto;
  margin-right: auto;
}

/* line 8, sass/partials/_helpers.scss */
.tm--margin-bottom-2-percent {
  margin-bottom: 2%;
}

/* line 11, sass/partials/_helpers.scss */
.tm--margin-bottom-0 {
  margin-bottom: 0px;
}

/* line 14, sass/partials/_helpers.scss */
.tm--margin-bottom-1 {
  margin-bottom: 5px;
}

/* line 17, sass/partials/_helpers.scss */
.tm--margin-bottom-2 {
  margin-bottom: 10px;
}

/* line 20, sass/partials/_helpers.scss */
.tm--margin-bottom-4 {
  margin-bottom: 20px;
}

/* line 23, sass/partials/_helpers.scss */
.tm--margin-bottom-6 {
  margin-bottom: 30px;
}

/* line 26, sass/partials/_helpers.scss */
.tm--margin-bottom-8 {
  margin-bottom: 40px;
}

/* line 29, sass/partials/_helpers.scss */
.tm--margin-right-4 {
  margin-right: 20px;
}

/* line 32, sass/partials/_helpers.scss */
.tm--margin-left-4 {
  margin-left: 20px;
}

/* line 35, sass/partials/_helpers.scss */
.tm--margin-left-5 {
  margin-left: 25px;
}

/* line 38, sass/partials/_helpers.scss */
.tm--margin-left-1 {
  margin-left: 5px;
}

/* line 41, sass/partials/_helpers.scss */
.tm--margin-right-1 {
  margin-right: 5px;
}

/* line 44, sass/partials/_helpers.scss */
.tm--margin-right-2 {
  margin-right: 10px;
}

/* line 47, sass/partials/_helpers.scss */
.tm--margin-right-3 {
  margin-right: 15px;
}

/* line 50, sass/partials/_helpers.scss */
.tm--margin-right-4 {
  margin-right: 20px;
}

/* line 53, sass/partials/_helpers.scss */
.tm--margin-right-6 {
  margin-right: 30px;
}

/* line 56, sass/partials/_helpers.scss */
.tm--margin-top-2 {
  margin-top: 10px;
}

/* line 59, sass/partials/_helpers.scss */
.tm--margin-top-4 {
  margin-top: 20px;
}

/* line 62, sass/partials/_helpers.scss */
.tm--margin-top-5 {
  margin-top: 25px;
}

/* line 65, sass/partials/_helpers.scss */
.tm--margin-top-8 {
  margin-top: 40px;
}

/* line 68, sass/partials/_helpers.scss */
.tm--margin-top-10 {
  margin-top: 60px;
}

/* line 71, sass/partials/_helpers.scss */
.tm--margin-left-8 {
  margin-left: 40px;
}

/* line 76, sass/partials/_helpers.scss */
.tm--padding-7-percent {
  padding: 7%;
}

/* line 79, sass/partials/_helpers.scss */
.tm--padding-top-3 {
  padding-top: 15px;
}

/* line 82, sass/partials/_helpers.scss */
.tm--padding-top-4 {
  padding-top: 20px;
}

/* line 85, sass/partials/_helpers.scss */
.tm--padding-top-6 {
  padding-top: 30px;
}

/* line 88, sass/partials/_helpers.scss */
.tm--padding-top-5-percent {
  padding-top: 5%;
}

/* line 91, sass/partials/_helpers.scss */
.tm--padding-top-7-percent {
  padding-top: 7%;
}

/* line 94, sass/partials/_helpers.scss */
.tm--padding-vert-7-percent {
  padding-top: 7%;
  padding-bottom: 7%;
}

/* line 98, sass/partials/_helpers.scss */
.tm--padding-horiz-7-percent {
  padding-left: 7%;
  padding-right: 7%;
}

/* line 102, sass/partials/_helpers.scss */
.tm--padding-horiz-2 {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 106, sass/partials/_helpers.scss */
.tm--padding-bottom-0 {
  padding-bottom: 0;
}

/* line 109, sass/partials/_helpers.scss */
.tm--padding-bottom-4 {
  padding-bottom: 20px;
}

/* line 112, sass/partials/_helpers.scss */
.tm--padding-bottom-3rem {
  padding-bottom: 3rem;
}

/* line 115, sass/partials/_helpers.scss */
.tm--padding-30, .tm--padding-6 {
  padding: 30px;
}

/* line 118, sass/partials/_helpers.scss */
.tm--padding-right-30 {
  padding-right: 30px;
}

/* line 121, sass/partials/_helpers.scss */
.tm--padding-right-2 {
  padding-right: 10px;
}

/* line 124, sass/partials/_helpers.scss */
.tm--padding-left-2 {
  padding-left: 10px;
}

/* line 130, sass/partials/_helpers.scss */
.tm--display-block {
  display: block;
}

/* line 133, sass/partials/_helpers.scss */
.tm--display-inline-block {
  display: inline-block;
}

/* line 136, sass/partials/_helpers.scss */
.tm--display-table-cell {
  display: table-cell;
}

/* line 139, sass/partials/_helpers.scss */
.tm--vertical-align-middle {
  vertical-align: middle;
}

/* line 142, sass/partials/_helpers.scss */
.tm--vertical-align-bot {
  vertical-align: bottom;
}

/* line 146, sass/partials/_helpers.scss */
.tm--float-left {
  float: left;
}

/* line 149, sass/partials/_helpers.scss */
.tm--float-right {
  float: right;
}

/* line 152, sass/partials/_helpers.scss */
.tm--float-none {
  float: none;
}

/* line 155, sass/partials/_helpers.scss */
.tm--clear-both {
  clear: both;
}

/* line 160, sass/partials/_helpers.scss */
.tm--width-half {
  width: 50%;
}

/* line 163, sass/partials/_helpers.scss */
.tm--max-width-half {
  max-width: 50%;
}

/* line 166, sass/partials/_helpers.scss */
.tm--width-1-3 {
  width: 33.33%;
}

/* line 169, sass/partials/_helpers.scss */
.tm--max-width-half {
  max-width: 50%;
}

/* line 172, sass/partials/_helpers.scss */
.tm--width-full {
  width: 100%;
}

/* line 175, sass/partials/_helpers.scss */
.tm--max-width-full {
  max-width: 100%;
}

/* line 178, sass/partials/_helpers.scss */
.tm--max-width-800 {
  max-width: 800px;
}

/* line 181, sass/partials/_helpers.scss */
.tm--max-width-1280 {
  max-width: 1280px;
}

/* line 184, sass/partials/_helpers.scss */
.tm--max-width-1620 {
  max-width: 1620px;
}

/* line 189, sass/partials/_helpers.scss */
.tm--height-full {
  height: 100%;
}

@media (min-width: 1em) and (max-width: 34em) {
  /* line 195, sass/partials/_helpers.scss */
  .tm--display-block-mob {
    display: block;
  }

  /* line 198, sass/partials/_helpers.scss */
  .tm--hide-mob {
    display: none;
  }
}
/* line 2, sass/partials/_images.scss */
.cover-img_container {
  max-height: 400px;
  overflow: hidden;
  border-radius: 3px;
}

/* line 7, sass/partials/_images.scss */
.img--feature {
  max-width: 93%;
  margin-top: 7%;
}

/* line 11, sass/partials/_images.scss */
.img--hero {
  max-width: 93%;
}

/* line 14, sass/partials/_images.scss */
.img--in-section {
  max-width: 86%;
  margin: 0 7%;
}

/* line 18, sass/partials/_images.scss */
.img--width-full {
  max-width: 100%;
  min-width: 100%;
}

/* line 22, sass/partials/_images.scss */
.tm-cover-img {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}
/* line 27, sass/partials/_images.scss */
.no-touch .tm-cover-img:hover {
  cursor: pointer;
}

/* line 31, sass/partials/_images.scss */
.tm-cover-img--sw {
  background-image: url("http://mckaythethird.com/img/tm--work-card-img--shapeways.jpg");
}

/* line 34, sass/partials/_images.scss */
.tm-cover-img--iw {
  background-image: url("http://mckaythethird.com/img/tm--work-card-img--iw-2.jpg");
}

/* line 37, sass/partials/_images.scss */
.tm-cover-img--3d-tools {
  background-image: url("http://mckaythethird.com/img/3d-tools-cover-big.jpg");
}

/* line 40, sass/partials/_images.scss */
.tm-cover-img--forums {
  background-image: url("http://mckaythethird.com/img/forums-cover-big.jpg");
}

/* line 43, sass/partials/_images.scss */
.tm-cover-img--product-edit {
  background-image: url("http://mckaythethird.com/img/product-edit-cover-big.jpg");
}

/* line 2, sass/partials/_links.scss */
a, a:visited, a:active {
  position: relative;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #A52121;
}

/* line 8, sass/partials/_links.scss */
.no-touch a:hover, a:focus {
  color: #662323;
  cursor: pointer;
}

/* line 14, sass/partials/_links.scss */
.tm--link-hover:after {
  content: "";
  transition: 0.2s all ease-in-out;
  position: absolute;
  bottom: 2px;
  height: 1px;
  opacity: 0;
  width: 100%;
  left: 0;
  background: #662323;
}

/* line 25, sass/partials/_links.scss */
.no-touch .tm--link-hover:hover:after {
  opacity: 1;
  bottom: -1px;
  cursor: pointer;
}

/* line 33, sass/partials/_links.scss */
.tm--link-light-grey, .tm--link-light-grey:visited, .tm--link-light-grey:active {
  color: #dbdbdb;
}
/* line 35, sass/partials/_links.scss */
.no-touch .tm--link-light-grey:hover, .tm--link-light-grey:focus, .no-touch .tm--link-light-grey:visited:hover, .tm--link-light-grey:visited:focus, .no-touch .tm--link-light-grey:active:hover, .tm--link-light-grey:active:focus {
  color: #A0A0A0;
  cursor: pointer;
}

/* line 42, sass/partials/_links.scss */
.tm--link-grey, .tm--link-grey:visited, .tm--link-grey:active {
  color: #A0A0A0;
}

/* line 45, sass/partials/_links.scss */
.no-touch .tm--link-grey:hover, .tm--link-grey:focus {
  color: #7B7F84;
  cursor: pointer;
}

/* line 51, sass/partials/_links.scss */
.tm--link-dark-grey, .tm--link-dark-grey:visited, .tm--link-dark-grey:active {
  color: #7B7F84;
}

/* line 54, sass/partials/_links.scss */
.no-touch .tm--link-dark-grey:hover, .tm--link-dark-grey:focus {
  color: #A0A0A0;
  cursor: pointer;
}

/* line 62, sass/partials/_links.scss */
.tm--link-black, .tm--link-black:visited, .tm--link-black:active {
  color: #1e1e1e;
  cursor: pointer;
}

/* line 66, sass/partials/_links.scss */
.no-touch .tm--link-black:hover, .tm--link-black:focus {
  color: #1e1e1e;
  cursor: pointer;
}

/* line 73, sass/partials/_links.scss */
a.tm--link-active {
  color: #1e1e1e;
  cursor: default;
}

/* line 77, sass/partials/_links.scss */
a.tm--link-active:after {
  opacity: .4;
  bottom: -1px;
}

/* line 83, sass/partials/_links.scss */
.btn, .btn:visited {
  border: none;
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #f9f9f9;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  line-height: 1em;
  padding: 1em 2em;
  opacity: 1;
  transition: all 0.3s ease;
}

/* line 96, sass/partials/_links.scss */
.no-touch .btn:hover, .btn:active {
  opacity: .8;
  color: #f9f9f9;
  cursor: pointer;
}

/* line 103, sass/partials/_links.scss */
.btn--white, .btn--white:visited {
  border: none;
  background-color: #F2F2F2;
  border-radius: 3px;
  color: #1e1e1e;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  line-height: 1em;
  padding: 1em 2em;
  opacity: 1;
  transition: all 0.3s ease;
}

/* line 116, sass/partials/_links.scss */
.no-touch .btn--white:hover, .btn--white:active {
  opacity: .8;
  cursor: pointer;
  color: #1e1e1e;
}

/* line 122, sass/partials/_links.scss */
.btn--white-outline, .btn--white-outline:visited {
  border: 1px solid #dbdbdb;
  background-color: transparent;
  border-radius: 3px;
  color: #dbdbdb;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1em;
  padding: 1em 2em;
  opacity: 1;
  transition: all 0.3s ease;
}

/* line 137, sass/partials/_links.scss */
.no-touch .btn--white-outline:hover, .btn--white-outline:active, .btn--white-outline:focus {
  border: 1px solid #A0A0A0;
  color: #dbdbdb;
  cursor: pointer;
}

/* line 144, sass/partials/_links.scss */
.btn--gold-outline, .btn--gold-outline:visited {
  border: 1px solid #846509;
  background-color: transparent;
  border-radius: 3px;
  color: #dbdbdb;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1em;
  padding: 1em 2em;
  opacity: 1;
  transition: all 0.3s ease;
}

/* line 159, sass/partials/_links.scss */
.no-touch .btn--gold-outline:hover, .btn--gold-outline:active, .btn--gold-outline:focus {
  border: 1px solid #5c4706;
  color: #dbdbdb;
  cursor: pointer;
}

/* line 2, sass/partials/_grid.scss */
.tm-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

/* line 9, sass/partials/_grid.scss */
.tm-grid--fullscreen {
  min-height: 100vh;
}

/* line 12, sass/partials/_grid.scss */
.tm-grid_cell {
  flex: 1;
}

/* line 15, sass/partials/_grid.scss */
.tm-grid--flexCells > .tm-grid_cell {
  display: flex;
}

/* line 18, sass/partials/_grid.scss */
.tm-grid_cell-1of3 {
  flex: none !important;
  width: 33% !important;
}

/* line 24, sass/partials/_grid.scss */
.tm-grid--gutters {
  margin: -2% 0 2% -2%;
}

/* line 27, sass/partials/_grid.scss */
.tm-grid--gutters > .tm-grid_cell {
  padding: 2% 0 0 2%;
}

/* line 32, sass/partials/_grid.scss */
.tm-grid--gutters-large > .tm-grid_cell {
  padding: 4% 0 0 4%;
}

/* line 35, sass/partials/_grid.scss */
.tm-grid--gutters-large {
  margin: -4% 0 0 -4%;
}

/* line 39, sass/partials/_grid.scss */
.tm-grid--gutters-fixed > .tm-grid_cell {
  padding: 20px;
}

/* line 42, sass/partials/_grid.scss */
.tm-grid--gutters-fixed {
  margin: -20px;
}

/* line 47, sass/partials/_grid.scss */
.tm-grid--top {
  align-items: flex-start;
}

/* line 50, sass/partials/_grid.scss */
.tm-grid--bottom {
  align-items: flex-end;
}

/* line 53, sass/partials/_grid.scss */
.tm-grid--center {
  align-items: center;
}

/* line 58, sass/partials/_grid.scss */
.tm-grid_cell--top {
  align-self: flex-start;
}

/* line 61, sass/partials/_grid.scss */
.tm-grid_cell--bottom {
  align-self: flex-end;
}

/* line 64, sass/partials/_grid.scss */
.tm-grid_cell--center {
  align-self: center;
}

/* Base classes for all media */
/* line 69, sass/partials/_grid.scss */
.tm-grid--fit > .tm-grid_cell {
  flex: 1;
}

/* line 72, sass/partials/_grid.scss */
.tm-grid--full > .tm-grid_cell {
  flex: 0 0 100%;
}

/* line 75, sass/partials/_grid.scss */
.tm-grid--full > .tm-grid_cell.tm-grid_cell-1of3 {
  flex: 0 0 100% !important;
}

/* line 78, sass/partials/_grid.scss */
.tm-grid--full.tm-grid--gutters-large > .tm-grid_cell {
  flex: 0 0 96%;
}

/* line 81, sass/partials/_grid.scss */
.tm-grid--full.tm-grid--gutters > .tm-grid_cell {
  flex: 0 0 98%;
}

/* line 84, sass/partials/_grid.scss */
.tm-footer-grid.tm-grid--full > .tm-grid_cell {
  flex: 0 0 100%;
  margin: 1.25em 0;
}

/* line 88, sass/partials/_grid.scss */
.tm-grid--1of2 > .tm-grid_cell {
  flex: 0 0 43%;
}

/* line 91, sass/partials/_grid.scss */
.tm-grid--1of3 > .tm-grid_cell {
  flex: 0 0 33.3333%;
}

/* line 94, sass/partials/_grid.scss */
.tm-grid--1of4 > .tm-grid_cell {
  flex: 0 0 25%;
}

/* small screens to medium */
@media (min-width: 1em) and (max-width: 34em) {
  /* line 100, sass/partials/_grid.scss */
  .tm--font-size--14--mob {
    font-size: 14px;
    line-height: 1.5em;
  }

  /* line 104, sass/partials/_grid.scss */
  .tm--font-size-18--mob {
    font-size: 18px;
    line-height: 1.5em;
  }

  /* line 108, sass/partials/_grid.scss */
  .tm--font-size-24--mob {
    font-size: 24px;
    line-height: 1.5em;
  }

  /* line 112, sass/partials/_grid.scss */
  .tm--font-size-32--mob {
    font-size: 32px;
    line-height: 1.5em;
  }

  /* line 116, sass/partials/_grid.scss */
  .tm--font-size-60--mob {
    font-size: 60px;
  }

  /* line 119, sass/partials/_grid.scss */
  .tm--position-absolute-mob {
    position: absolute;
  }

  /* line 122, sass/partials/_grid.scss */
  .tm--width-full--mob {
    max-width: 100%;
  }

  /* line 125, sass/partials/_grid.scss */
  .tm--text-center-mob {
    text-align: center;
  }

  /* line 128, sass/partials/_grid.scss */
  .tm--text-left-mob {
    text-align: left;
  }

  /* line 131, sass/partials/_grid.scss */
  .tm--padding-0-mob {
    padding: 0;
  }

  /* line 134, sass/partials/_grid.scss */
  .tm--margin-bottom-2-mob {
    margin-bottom: 10px;
  }

  /* line 137, sass/partials/_grid.scss */
  .tm--margin-bottom-3-mob {
    margin-bottom: 15px;
  }

  /* line 140, sass/partials/_grid.scss */
  .tm--padding-top-6-mob {
    padding-top: 30px;
  }

  /* line 143, sass/partials/_grid.scss */
  .tm--margin-top-4-mob {
    margin-top: 20px;
  }

  /* line 146, sass/partials/_grid.scss */
  .tm--margin-bottom-0-mob {
    margin-bottom: 0;
  }

  /* line 149, sass/partials/_grid.scss */
  .tm--padding-5-mob {
    padding: 25px;
  }

  /* line 152, sass/partials/_grid.scss */
  .select-work, .tm-about-intro {
    padding-top: 7%;
  }

  /* line 155, sass/partials/_grid.scss */
  .tm-about-intro {
    margin-top: 2rem;
  }

  /* line 158, sass/partials/_grid.scss */
  .tm--font-size-24--mob {
    font-size: 24px;
  }

  /* line 161, sass/partials/_grid.scss */
  .tm--font-size-30--mob {
    font-size: 30px;
  }

  /* line 164, sass/partials/_grid.scss */
  .tm-project-footer {
    width: 86%;
    padding: 3rem 7%;
  }

  /* line 168, sass/partials/_grid.scss */
  .tm--main-headline {
    font-size: 64px;
    line-height: 1em;
  }

  /* line 172, sass/partials/_grid.scss */
  .tm--bg-image {
    background-image: none !important;
  }
}
/* medium screens to large */
@media (min-width: 34em) and (max-width: 48em) {
  /* line 179, sass/partials/_grid.scss */
  .small-tm-grid--fit > .tm-grid_cell {
    flex: 1;
  }

  /* line 182, sass/partials/_grid.scss */
  .small-tm-grid--full > .tm-grid_cell {
    flex: 0 0 100%;
  }

  /* line 185, sass/partials/_grid.scss */
  .small-tm-grid--1of2 > .tm-grid_cell {
    flex: 0 0 50%;
  }

  /* line 188, sass/partials/_grid.scss */
  .small-tm-grid--1of2.tm-grid--gutters > .tm-grid_cell {
    flex: 0 0 48%;
  }

  /* line 191, sass/partials/_grid.scss */
  .small-tm-grid--1of3 > .tm-grid_cell {
    flex: 0 0 33.3333%;
  }

  /* line 194, sass/partials/_grid.scss */
  .small-tm-grid--1of4 > .tm-grid_cell {
    flex: 0 0 25%;
  }

  /* line 197, sass/partials/_grid.scss */
  .tm--font-size-84--tab {
    font-size: 84px;
  }

  /* line 200, sass/partials/_grid.scss */
  .tm--hide--tab {
    display: none;
  }

  /* line 203, sass/partials/_grid.scss */
  .tm--width-three-qtr--tab {
    max-width: 75%;
  }

  /* line 206, sass/partials/_grid.scss */
  .tm--text-center-tab {
    text-align: center;
  }

  /* line 209, sass/partials/_grid.scss */
  .tm--text-left-tab {
    text-align: left;
  }

  /* line 212, sass/partials/_grid.scss */
  .select-work, .tm-about-intro {
    padding-top: 7%;
  }

  /* line 215, sass/partials/_grid.scss */
  .tm-about-intro {
    margin-top: 2rem;
  }

  /* line 218, sass/partials/_grid.scss */
  .tm-project-footer {
    width: 86%;
    padding: 3rem 7%;
  }
}
/*SMALL DETAIL FOR PROJECT FOOTER SPACING*/
@media (max-width: 1334px) {
  /* line 226, sass/partials/_grid.scss */
  .tm-project-footer {
    width: 86%;
    padding: 3rem 7%;
  }
}
/*DETAILS FOR JUMBO TEXT*/
@media (min-width: 1rem) and (max-width: 34rem) {
  /* line 233, sass/partials/_grid.scss */
  .tm--main-headline {
    font-size: 3rem;
    line-height: .9em;
  }
}
@media (min-width: 34rem) and (max-width: 44rem) {
  /* line 239, sass/partials/_grid.scss */
  .tm--main-headline {
    font-size: 4rem;
    line-height: .9em;
  }
}
@media (min-width: 44rem) and (max-width: 60rem) {
  /* line 245, sass/partials/_grid.scss */
  .tm--main-headline {
    font-size: 5rem;
    line-height: .9em;
  }
}
@media (min-width: 60rem) and (max-width: 80rem) {
  /* line 251, sass/partials/_grid.scss */
  .tm--main-headline {
    font-size: 6rem;
    line-height: .9em;
  }
}
@media (min-width: 80rem) {
  /* line 257, sass/partials/_grid.scss */
  .tm--main-headline {
    font-size: 8rem;
    line-height: .9em;
  }
}
@media (max-width: 768px) {
  /* line 264, sass/partials/_grid.scss */
  .tm--order-2-mob {
    order: 2;
  }
}
/* Large screens */
@media (min-width: 48em) {
  /* line 273, sass/partials/_grid.scss */
  .tm-footer-grid.large-tm-grid--fit > .tm-grid_cell {
    flex: 1;
  }

  /* line 276, sass/partials/_grid.scss */
  .large-tm-grid--fit > .tm-grid_cell {
    flex: 1 !important;
  }

  /* line 279, sass/partials/_grid.scss */
  .large-tm-grid--fit > .tm-grid_cell.tm-grid_cell-1of3 {
    flex: none !important;
    width: 33% !important;
  }

  /* line 283, sass/partials/_grid.scss */
  .large-tm-grid--fit > .tm-grid_cell.tm-grid_cell-1of4 {
    flex: none !important;
    width: 25% !important;
  }

  /* line 287, sass/partials/_grid.scss */
  .large-tm-grid--full > .tm-grid_cell {
    flex: 0 0 100%;
  }

  /* line 290, sass/partials/_grid.scss */
  .tm-grid--gutters-large.large-tm-grid--1of2 > .tm-grid_cell {
    flex: 0 0 40%;
  }

  /* line 293, sass/partials/_grid.scss */
  .large-tm-grid--1of2 > .tm-grid_cell {
    flex: 0 0 50%;
  }

  /* line 296, sass/partials/_grid.scss */
  .large-tm-grid--1of2.tm-grid--gutters > .tm-grid_cell {
    flex: 0 0 48%;
  }

  /* line 299, sass/partials/_grid.scss */
  .large-tm-grid--1of3 > .tm-grid_cell {
    flex: 0 0 33.3333%;
  }

  /* line 302, sass/partials/_grid.scss */
  .large-tm-grid--1of3.tm-grid--gutters > .tm-grid_cell {
    flex: 0 0 31.3333%;
  }

  /* line 305, sass/partials/_grid.scss */
  .large-tm-grid--1of4 > .tm-grid_cell {
    flex: 0 0 25%;
  }

  /* line 308, sass/partials/_grid.scss */
  .large-tm-grid--fit > .tm-grid_cell.tm-grid--1of4 {
    flex: 0 0 25% !important;
  }

  /* line 311, sass/partials/_grid.scss */
  .tm--centered--desk {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 315, sass/partials/_grid.scss */
  .tm--text-align-center--desk {
    text-align: center;
  }

  /* line 318, sass/partials/_grid.scss */
  .tm--hide-mob, .tm--hide--tab {
    display: initial;
  }

  /* line 321, sass/partials/_grid.scss */
  .tm--padding-0-desk {
    padding: 0;
  }
}
