// ANIMATION STYLES HERE

// ANIMATIONS
.tm-transition-enabled {
  opacity: 0;
}
.tm-transition-in {
  animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-fill-mode: forwards !important;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0s;
  -moz-animation-delay:0s;
  animation-iteration-count: 1;
  -moz-animation-iteration-count:1;
  animation-direction: normal;
  -moz-animation-direction: normal;
  backface-visibility: hidden;
}
.fade-in--delay-03 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -moz-animation-fill-mode: forwards;
}
.fade-in--delay-05 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -moz-animation-fill-mode: forwards;
}
.fade-in--delay-07 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -moz-animation-fill-mode: forwards;
}
.fade-in--delay-09 {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -moz-animation-fill-mode: forwards;
}
.fade-in--delay-1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -moz-animation-fill-mode: forwards;
}

// FADE IN
@-webkit-keyframes fade-in {
from {
  opacity: 0; }
to {
  opacity: 1; } }

@-moz-keyframes fade-in {
from {
  opacity: 0; }
to {
  opacity: 1; }
}

@keyframes fade-in {
from {
  opacity: 0; }
to {
  opacity: 1; } }


// FADE OUT
@-webkit-keyframes fade-out {
from {
  opacity: 1; }
to {
  opacity: 0; } }

@-moz-keyframes fade-out {
from {
  opacity: 1; }
to {
  opacity: 0; } }

@keyframes fade-out {
from {
  opacity: 1; }
to {
  opacity: 0; } }
