// GRID YO SELF
.tm-grid {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
}
.tm-grid--fullscreen {
  min-height: 100vh;
}
.tm-grid_cell {
  flex: 1;
}
.tm-grid--flexCells > .tm-grid_cell {
  display: flex;
}
.tm-grid_cell-1of3 {
  flex: none!important;
  width: 33% !important;
}

// GUTTERS GRID STANDARD
.tm-grid--gutters {
  margin: -2% 0 0 -2%;
}
.tm-grid--gutters > .tm-grid_cell {
  padding: 2% 0 0 2%;
}

// GUTTERS GRID LARGE
.tm-grid--gutters-large > .tm-grid_cell {
  padding: 4% 0 0 4%;
}
.tm-grid--gutters-large {
  margin: -4% 0 0 -4%;
}
// GUTTERS GRID FIXED
.tm-grid--gutters-fixed > .tm-grid_cell {
  padding: 20px;
}
.tm-grid--gutters-fixed {
  margin: -20px;
}

// ROW ALIGN
.tm-grid--top {
  align-items: flex-start;
}
.tm-grid--bottom {
  align-items: flex-end;
}
.tm-grid--center {
  align-items: center;
}

// CELL ALIGN
.tm-grid_cell--top {
  align-self: flex-start;
}
.tm-grid_cell--bottom {
  align-self: flex-end;
}
.tm-grid_cell--center {
  align-self: center;
}

/* Base classes for all media */
.tm-grid--fit > .tm-grid_cell {
  flex: 1;
}
.tm-grid--full > .tm-grid_cell {
  flex: 0 0 100%;
}
.tm-grid--full > .tm-grid_cell.tm-grid_cell-1of3 {
  flex: 0 0 100% !important;
}
.tm-grid--full.tm-grid--gutters-large > .tm-grid_cell {
  flex: 0 0 96%;
}
.tm-grid--full.tm-grid--gutters > .tm-grid_cell {
  flex: 0 0 98%;
}
.tm-footer-grid.tm-grid--full > .tm-grid_cell {
  flex: 0 0 100%;
  margin:1.25em 0;
}
.tm-grid--1of2 > .tm-grid_cell {
  flex: 0 0 43%
}
.tm-grid--1of3 > .tm-grid_cell {
  flex: 0 0 33.3333%
}
.tm-grid--1of4 > .tm-grid_cell {
  flex: 0 0 25%
}

/* small screens to medium */
@media (min-width: 1em) and (max-width: 34em) {
  .tm--font-size--14--mob {
    font-size:14px;
    line-height: 1.5em;
  }
  .tm--font-size-18--mob {
    font-size: 18px;
    line-height: 1.5em;
  }
  .tm--font-size-24--mob {
    font-size: 24px;
    line-height: 1.5em;
  }
  .tm--font-size-32--mob {
    font-size: 32px;
    line-height: 1.5em;
  }
  .tm--font-size-60--mob {
    font-size: 60px;
  }
  .tm--position-absolute-mob {
    position: absolute;
  }
  .tm--width-full--mob {
    max-width: 100%;
  }
  .tm--text-center-mob {
    text-align: center;
  }
  .tm--text-left-mob {
    text-align: left;
  }
  .tm--float-none-mob {
    float:none;
  }
  .tm--padding-0-mob {
    padding: 0;
  }
  .tm--margin-bottom-2-mob {
    margin-bottom:10px;
  }
  .tm--margin-bottom-3-mob {
    margin-bottom:15px;
  }
  .tm--padding-top-6-mob {
    padding-top: 30px;
  }
  .tm--margin-top-4-mob {
    margin-top:20px;
  }
  .tm--margin-bottom-0-mob {
    margin-bottom:0;
  }
  .tm--padding-5-mob {
    padding:25px;
  }
  .select-work, .tm-about-intro {
    padding-top: 7%;
  }
  .tm-about-intro {
    margin-top: 2rem;
  }
  .tm--font-size-24--mob {
    font-size: 24px;
  }
  .tm--font-size-30--mob {
    font-size:30px;
  }
  .tm-project-footer {
    width:86%;
    padding:3rem 7%;
  }
  .tm--main-headline {
    font-size: 64px;
    line-height: 1em;
  }
  .tm--bg-image {
    background-image: none !important;
  }
}

/* medium screens to large */
@media (min-width: 34em) and (max-width: 48em) {
  .small-tm-grid--fit > .tm-grid_cell {
    flex: 1;
  }
  .small-tm-grid--full > .tm-grid_cell {
    flex: 0 0 100%;
  }
  .small-tm-grid--1of2 > .tm-grid_cell {
    flex: 0 0 50%
  }
  .small-tm-grid--1of2.tm-grid--gutters > .tm-grid_cell {
    flex: 0 0 48% // FIX FOR GUTTERS
  }
  .small-tm-grid--1of3 > .tm-grid_cell {
    flex: 0 0 33.3333%
  }
  .small-tm-grid--1of4 > .tm-grid_cell {
    flex: 0 0 25%
  }
  .tm--font-size-84--tab {
    font-size: 84px;
  }
  .tm--hide--tab {
    display: none;
  }
  .tm--width-three-qtr--tab {
    max-width: 75%;
  }
  .tm--text-center-tab {
    text-align: center;
  }
  .tm--text-left-tab {
    text-align: left;
  }
  .select-work, .tm-about-intro {
    padding-top: 7%;
  }
  .tm-about-intro {
    margin-top: 2rem;
  }
  .tm-project-footer {
    width:86%;
    padding:3rem 7%;
  }
}

/*SMALL DETAIL FOR PROJECT FOOTER SPACING*/
@media (max-width: 1334px) {
  .tm-project-footer {
    width:86%;
    padding:3rem 7%;
  }
}
/*DETAILS FOR JUMBO TEXT*/
@media (min-width: 1rem) and (max-width: 34rem) {
  .tm--main-headline {
    font-size: 3rem;
    line-height: .9em;
  }
}
@media (min-width: 34rem) and (max-width: 44rem) {
  .tm--main-headline {
    font-size: 4rem;
    line-height: .9em;
  }
}
@media (min-width: 44rem) and (max-width: 60rem) {
  .tm--main-headline {
    font-size: 5rem;
    line-height: .9em;
  }
}
@media (min-width: 60rem) and (max-width: 80rem) {
  .tm--main-headline {
    font-size: 6rem;
    line-height: .9em;
  }
}
@media (min-width: 80rem) {
  .tm--main-headline {
    font-size: 8rem;
    line-height: .9em;
  }
}

@media (max-width: 768px) {
    .tm--order-2-mob {
    order: 2;
  }
}



/* Large screens */
@media (min-width: 48em) {
  .tm-footer-grid.large-tm-grid--fit > .tm-grid_cell {
    flex: 1;
  }
  .large-tm-grid--fit > .tm-grid_cell {
    flex: 1 !important;
  }
  .large-tm-grid--fit > .tm-grid_cell.tm-grid_cell-1of3 {
    flex: none!important;
    width: 33% !important;
  }
  .large-tm-grid--fit > .tm-grid_cell.tm-grid_cell-1of4 {
    flex: none!important;
    width: 25% !important;
  }
  .large-tm-grid--full > .tm-grid_cell {
    flex: 0 0 100%;
  }
  .tm-grid--gutters-large.large-tm-grid--1of2 > .tm-grid_cell {
    flex: 0 0 40%;
  }
  .large-tm-grid--1of2 > .tm-grid_cell {
    flex: 0 0 50%;
  }
    .large-tm-grid--1of2.tm-grid--gutters > .tm-grid_cell {
    flex: 0 0 48%; //FIX FOR GUTTERS
  }
  .large-tm-grid--1of3 > .tm-grid_cell {
    flex: 0 0 33.3333%;
  }
    .large-tm-grid--1of3.tm-grid--gutters > .tm-grid_cell {
    flex: 0 0 31.3333%; //FIX FOR GUTTERS
  }
  .large-tm-grid--1of4 > .tm-grid_cell {
    flex: 0 0 25%;
  }
  .large-tm-grid--fit > .tm-grid_cell.tm-grid--1of4 {
    flex: 0 0 25% !important;
  }
  .tm--centered--desk {
    margin-left: auto;
    margin-right: auto;
  }
  .tm--text-align-center--desk {
    text-align: center;
  }
  .tm--hide-mob, .tm--hide--tab {
    display: initial;
  }
  .tm--padding-0-desk {
    padding: 0;
  }
}
