// GRID YO SELF
.tm-grid {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
}
.tm-grid--fullscreen {
  min-height: 100vh;
}
.tm-grid_cell {
  flex: 1;
}
.tm-grid--flexCells > .tm-grid_cell {
  display: flex;
}
.tm-grid_cell-1of3 {
  flex: none!important;
  width: 33% !important;
}

// GUTTERS GRID STANDARD
.tm-grid--gutters {
  margin: -2% 0 0 -2%;
}
.tm-grid--gutters > .tm-grid_cell {
  padding: 2% 0 0 2%;
}

// GUTTERS GRID LARGE
.tm-grid--gutters-large > .tm-grid_cell {
  padding: 5%;
}
.tm-grid--gutters-large {
  margin: -5%;
}

// ROW ALIGN
.tm-grid--top {
  align-items: flex-start;
}
.tm-grid--bottom {
  align-items: flex-end;
}
.tm-grid--center {
  align-items: center;
}

// CELL ALIGN
.tm-grid_cell--top {
  align-self: flex-start;
}
.tm-grid_cell--bottom {
  align-self: flex-end;
}
.tm-grid_cell--center {
  align-self: center;
}