// GENERIC HELPER CLASSES HERE
.tm--center-element {
  margin-left: auto;
  margin-right: auto;
}
.tm--margin-bottom-2-percent {
  margin-bottom: 2%;
}
.tm--margin-bottom-0 {
  margin-bottom: 0px;
}
.tm--margin-bottom-1 {
  margin-bottom: 5px;
}
.tm--margin-bottom-2 {
  margin-bottom: 10px;
}
.tm--margin-bottom-4 {
  margin-bottom: 20px;
}
.tm--margin-bottom-8 {
  margin-bottom: 40px;
}
.tm--margin-right-4 {
  margin-right:20px;
}
.tm--margin-left-4 {
  margin-left:20px;
}
.tm--margin-left-5 {
  margin-left:25px;
}
.tm--margin-left-1 {
  margin-left: 5px;
}
.tm--margin-right-1 {
  margin-right: 5px;
}
.tm--margin-right-6 {
  margin-right: 30px;
}
.tm--margin-top-2 {
  margin-top: 10px;
}
.tm--margin-top-4 {
  margin-top: 20px;
}
.tm--margin-top-5 {
  margin-top:25px;
}
.tm--margin-top-8 {
  margin-top: 40px;
}
.tm--margin-top-10 {
  margin-top: 60px;
}
.tm--margin-left-8 {
  margin-left: 40px;
}
.tm--padding-7-percent {
  padding: 7%;
}
.tm--padding-top-3 {
  padding-top: 15px;
}
.tm--padding-top-4 {
  padding-top: 20px;
}
.tm--padding-top-5-percent {
  padding-top:5%;
}
.tm--padding-top-7-percent {
  padding-top: 7%;
}
.tm--padding-vert-7-percent {
  padding-top:7%;
  padding-bottom:7%;
}
.tm--padding-horiz-7-percent {
  padding-left:7%;
  padding-right:7%;
}
.tm--padding-bottom-0 {
  padding-bottom: 0;
}
.tm--padding-bottom-4 {
  padding-bottom: 20px;
}
.tm--padding-bottom-3rem {
  padding-bottom: 3rem;
}
.tm--padding-30 {
  padding: 30px;
}
.tm--padding-right-30 {
  padding-right:30px;
}
// DISPLAY MODS
.tm--display-block {
  display: block;
}
.tm--display-inline-block {
  display: inline-block;
}
.tm--display-table-cell {
  display: table-cell;
}
.tm--vertical-align-middle {
  vertical-align: middle;
}
.tm--vertical-align-bot {
  vertical-align: bottom;
}
// FLOATS
.tm--float-left {
  float: left;
}
.tm--float-right {
  float: right;
}
.tm--float-none {
  float: none;
}
.tm--clear-both {
  clear: both;
}

// WIDTH MODS
.tm--width-half {
  width: 50%;
}
.tm--max-width-half {
  max-width: 50%;
}
.tm--width-1-3 {
  width:33.33%;
}
.tm--max-width-half {
  max-width: 50%;
}
.tm--width-full {
  width: 100%;
}
.tm--max-width-full {
  max-width: 100%;
}
.tm--max-width-800 {
  max-width:800px;
}
.tm--max-width-1280 {
  max-width: 1280px;
}
.tm--max-width-1620 {
  max-width: 1620px;
}

// HEIGHT MODS
.tm--height-full {
  height: 100%;
}

// SMALL SCREENS
@media (min-width: 1em) and (max-width: 34em) {
  .tm--display-block-mob {
    display: block;
  }
  .tm--hide-mob {
    display: none;
  }
}

