// IMAGE STYLES
.cover-img_container {
  max-height: 400px;
  overflow: hidden;
  border-radius: 3px;
}
.img--feature {
  max-width:93%;
  margin-top: 7%;
}
.img--hero {
  max-width: 93%;
}
.img--in-section {
  max-width:86%;
  margin: 0 7%;
}
.img--width-full {
  max-width: 100%;
  min-width: 100%;
}
.tm-cover-img {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  .no-touch &:hover {
    cursor: pointer;
  }
}


// HOMEPAGE BG
.tm-bg_img-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.tm-bg_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tm-cover-img--sw {
  background-image: url('http://mckaythethird.com/img/tm--work-card-img--shapeways.jpg');
}
.tm-cover-img--iw {
  background-image: url('http://mckaythethird.com/img/tm--work-card-img--iw-2.jpg');
}
.tm-cover-img--misc {
  background-image: url('http://mckaythethird.com/img/tm--work-card-misc.jpg');
}
