// IMAGE STYLES
.cover-img_container {
  max-height: 400px;
  overflow: hidden;
  border-radius: 3px;
}
.img--feature {
  max-width:93%;
  margin-top: 7%;
}
.img--hero {
  max-width: 93%;
}
.img--in-section {
  max-width:86%;
  margin: 0 7%;
}
.img--width-full {
  max-width: 100%;
  min-width: 100%;
}
.tm-cover-img {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  .no-touch &:hover {
    cursor: pointer;
  }
}
.tm-cover-img--sw {
  background-image: url('http://mckaythethird.com/img/tm--work-card-img--shapeways.jpg');
}
.tm-cover-img--iw {
  background-image: url('http://mckaythethird.com/img/tm--work-card-img--iw-2.jpg');
}
.tm-cover-img--misc {
  background-image: url('http://mckaythethird.com/img/tm--work-card-misc.jpg');
}
