// LINK STYLES
a,a:visited,a:active {
  position:relative;
  transition: all 0.3s ease;
  text-decoration:none;
  color: $red;
}
.no-touch a:hover, a:focus {
  color: $dark-red;
  cursor: pointer;
}

// ANIMATED LINK (RED)
.tm--link-hover:after {
  content: "";
  transition:0.2s all ease-in-out;
  position:absolute;
  bottom:2px;
  height:1px;
  opacity: 0;
  width:100%;
  left:0;
  background:$dark-red;
}
.no-touch .tm--link-hover:hover:after {
  opacity: 1;
  bottom:-1px;
  cursor: pointer;
}


// LIGHT GREY LINKS
.tm--link-light-grey,.tm--link-light-grey:visited,.tm--link-light-grey:active {
  color: $light-grey;
  .no-touch &:hover,&:focus {
    color: $gold;
    cursor: pointer;
  }
  &.active,.no-touch &.active:hover {
    color: $gold;
    cursor: default;
  }
}
// LIGHT GREY HOVER
.tm--link-light-grey-hover:after {
  content: "";
  transition:0.2s all ease-in-out;
  position:absolute;
  bottom:2px;
  height:1px;
  opacity: 0;
  width:100%;
  left:0;
  background:$gold;
}
.no-touch .tm--link-light-grey-hover:hover:after {
  opacity: 0.7;
  bottom:-1px;
}
// LIGHT GREY ACTIVE STATE
.tm--link-light-grey-hover.active:after {
  content: "";
  transition:0.2s all ease-in-out;
  position:absolute;
  bottom:-1px;
  height:1px;
  opacity: 0.7;
  width:100%;
  left:0;
  background:$quicksilver-grey;
}

// GOLD LINKS
.tm--link-gold,.tm--link-gold:visited,.tm--link-gold:active {
  color: $gold;
  .no-touch &:hover,&:focus {
    color: scale-lightness($gold, -20%);    cursor: pointer;
  }
  &.active,.no-touch &.active:hover {
    color: $gold;
    cursor: default;
  }
}
// ANIMATED LINK (GOLD HOVER)
.tm--link-gold-hover:after {
  content: "";
  transition:0.2s all ease-in-out;
  position:absolute;
  bottom:2px;
  height:1px;
  opacity: 0;
  width:100%;
  left:0;
  background:$gold;
}
.no-touch .tm--link-gold-hover:hover:after {
  opacity: 0.7;
  bottom:-1px;
}
// GOLD ACTIVE STATE
.tm--link-gold-hover.active:after {
  content: "";
  transition:0.2s all ease-in-out;
  position:absolute;
  bottom:-1px;
  height:1px;
  opacity: 0.7;
  width:100%;
  left:0;
  background:$gold;
}



// GREY LINKS
.tm--link-grey,.tm--link-grey:visited,.tm--link-grey:active {
  color: $quicksilver-grey;
}
.no-touch .tm--link-grey:hover,.tm--link-grey:focus {
  color: $trolley-grey;
  cursor: pointer;
}

// DARKER GREY LINKS
.tm--link-dark-grey,.tm--link-dark-grey:visited,.tm--link-dark-grey:active {
  color: $trolley-grey;
}
.no-touch .tm--link-dark-grey:hover,.tm--link-dark-grey:focus {
  color: $quicksilver-grey;
  cursor: pointer;
}


// BLACK LINKS (RESUME LIGHT)
.tm--link-black,.tm--link-black:visited,.tm--link-black:active {
  color: $eerie-black;
  cursor: pointer;
}
.no-touch .tm--link-black:hover,.tm--link-black:focus {
  color: $eerie-black;
  cursor: pointer;
}


// ACTIVE LINK
a.tm--link-active {
  color: $eerie-black;
  cursor: default;
}
a.tm--link-active:after {
  opacity:.4;
  bottom:-1px;
}

// BUTTON STYLES
.btn, .btn:visited {
  border: none;
  background-color: $eerie-black;
  border-radius: 3px;
  color: $white;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  line-height: 1em;
  padding: 1em 2em;
  opacity: 1;
  transition: all 0.3s ease;
}
.no-touch .btn:hover, .btn:active {
  opacity: .8;
  color: $white;
  cursor: pointer;
}

// WHITE BUTTON
.btn--white, .btn--white:visited {
  border: none;
  background-color: $off-white;
  border-radius: 3px;
  color: $eerie-black;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  line-height: 1em;
  padding: 1em 2em;
  opacity: 1;
  transition: all 0.3s ease;
}
.no-touch .btn--white:hover, .btn--white:active {
  opacity: .8;
  cursor: pointer;
  color: $eerie-black;
}
// OUTLINE - WHITE BUTTON
.btn--white-outline, .btn--white-outline:visited {
  border: 1px solid $light-grey;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
  color: $light-grey;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1em;
  padding: 1em 2em;
  opacity: 1;
  transition: all 0.3s ease;
}
.no-touch .btn--white-outline:hover, .btn--white-outline:active,.btn--white-outline:focus {
  background-color: $light-grey;
  color: $smokey-black;
  cursor: pointer;
}

// OUTLINE - GOLD BUTTON
.btn--gold-outline, .btn--gold-outline:visited {
  border: 1px solid $gold;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
  color: $light-grey;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1em;
  padding: 1em 2em;
  opacity: 1;
  transition: all 0.3s ease;
}
.no-touch .btn--gold-outline:hover, .btn--gold-outline:active,.btn--gold-outline:focus {
  background-color: $gold;
  color: $smokey-black;
  cursor: pointer;
}
