// GREYSCALE
$light-grey:        	#dbdbdb;
$quicksilver-grey:    #A0A0A0;
$medium-grey:         #848484;
$trolley-grey:      	#7B7F84;
$dark-grey:		#323334;
$eerie-black:       	#1e1e1e;
$true-black:        	#000000;
$off-white:         	#F2F2F2;
$white:             	#f9f9f9;

// COLORS
$gold:              	#846509;
$red:               	#A52121;
$dark-red:		#662323;
$orange:            	#E07B69;
$green:             	#56b7a5;
$deep-space:          #4C5C68;
$onyx:              	#353D44;
$sw-blue:             #47c8ff;

// UI ELEMENT SPECIFICS
$rule-color:        	#e0e3e5;
$card-shadow:	        0 1px 3px rgba(0,0,0,0.2);
