// GREYSCALE
$light-grey:        	#dbdbdb;
$quicksilver-grey:    #A0A0A0;
$medium-grey:         #848484;
$trolley-grey:      	#7B7F84;
$dark-grey:		        #323334;
$eerie-black:       	#1e1e1e;
$spooky-black:        #161616;
$smokey-black: 	#0F0F0F;
$true-black:        	#000000;
$off-white:         	#F2F2F2;
$white:             	#f9f9f9;

// COLORS
$gold:              	#B7A15D;
$red:               	#A52121;
$dark-red:		        #662323;
$iw-orange:           #F15C3B;
$orange:            	#E07B69;
$green:             	#56b7a5;
$deep-space:          #4C5C68;
$onyx:              	#353D44;
$sw-blue:             #47c8ff;

// UI ELEMENT SPECIFICS
$rule-color:        	#e0e3e5;
$card-shadow:	        0 1px 3px rgba(0,0,0,0.2);

// LAYOUT
$grid-increment: 5px;
